.layui-header .layui-nav{
    float: right;
    width: 900px;
}
.main-div{
    margin-top: 60px;
}
.nav-ul{
    font-size: 30px;
}
.carousel-img-div{
    position: relative;
}
.carousel-text{
    position: absolute;
    z-index: 1;
    bottom: 14px;
    left: 14px;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.main-left-div{
    width: 72%;
    float: left;
}
.main-right-div{
    float: right;
}
.main-div .layui-main{
    margin-top: 100px;
}
.layui-tree li a{
    font-size: 12px;
}
.layui-timeline-title{
    cursor: default;
}
.article-div{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 50px 20px 20px 20px;
}
.article-panel{
    border-right: 1px solid #5FB878;
    padding-right: 25px;
}
.aside-div{
    margin-bottom: 50px;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    color: #777777;
}
.aside-div a{
    color: #777777;
    text-decoration: underline;
}
.article-img img{
    width: 300px;
}
.article-content{
    margin: 30px 0px;
    color: #8D8D8D;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:7;
}
.article-title{
    margin-top: 30px;
    overflow: hidden;
    line-height: 45px;
}
.article-title a{
    color: #009688 !important;
    font-size: 40px;
    text-decoration: none !important;
}
.article-reads{
    color: #999999;
    margin-right: 30px;
}
#pages{
    margin: 30px;
}
.user-div{
    font-size: 16px;
}
.user-ul{
    background-color: #f2f2f2;
}
.user-span{
    color: #000000;
}