<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>My Blog(by Python&Flask&Layui)</title>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
</head>
<body class="layui-bg-gray">
    <div class="layui-header">
        <div class="layui-main">
            <a class="blog-name" href="/">
                <span>My Blog</span>
            </a>
            <ul class="layui-nav nav-ul" style="text-align: right;">
            {%for nav in nav_list%}
                <li class="layui-nav-item">
                    <a href="">{{nav}}</a>
                </li>
            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="main-div">
        <div class="layui-main ">
            <div class="main-left-div">
                <div class="layui-carousel" id="carousel">
                    <div carousel-item>
                        {% for carousel in carousel_list %}
                        <div class="carousel-img-div" align="center">
                            <a href="/content?ai={{ carousel["id"] }}">
                                <span class="carousel-text">{{ carousel["title"] }}</span>
                                <img style="max-width: 820px;" src="{{ carousel["imgpath"] }}"/>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="article-div">
                    <ul class="layui-timeline">
                    {% for foo in blog %}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text article-panel">
                                <h2 class="layui-timeline-title">{{ foo["createdate"] }}</h2>
                                <div class="article-title">
                                    <a href="/content?ai={{ foo["id"] }}">{{foo['title']}}</a>
                                </div>
                                <p class="article-reads layui-unselect"><i class="layui-icon">&#xe705;</i>&nbsp;阅读（{{foo['readings'] }}）</p>
                                <hr/>
                                <div class="article-img">
                                    {% if foo["imgpath"] != ""%}
                                        <img src="{{foo["imgpath"]}}" alt=""/>
                                    {% endif %}
                                </div>
                                <div class="article-content layui-text" id="art-content-div">
                                    <p class="layui-unselect">{{foo['content']|safe}}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis">&#xe63e;</i>
                        </li>
                    </ul>
                </div>
                <div id="pages"></div>
            </div>
            <div class="main-right-div">
                <div class="aside-div">
                    <blockquote class="layui-elem-quote">
                    <div class="user-div">
                        <div class="layui-inline">
                            <ul class="layui-nav user-ul">
                                <li class="layui-nav-item">
                                    <a href="">
                                        <img src="{{userimg}}" width="48px" class="layui-circle"/>
                                        {%if islogin == '1' %}
                                            <span class="user-span">{{ loginusername }}</span>
                                        <dl class="layui-nav-child">
                                            <dd><a href="/writer">写博客</a></dd>
                                            <dd><a href="/logout">退出</a></dd>
                                        </dl>
                                        {%else%}
                                            <span class="user-span">欢迎</span>
                                        <dl class="layui-nav-child">
                                             <dd><a href="/login">登录</a></dd>
                                        </dl>
                                        {%endif%}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </blockquote>
                </div>

                <div class="aside-div">
                    <fieldset class="layui-elem-field">
                        <legend>热门文章</legend>
                        <div class="layui-field-box">
                            <ul class="layui-tree">
                                {% for hot in hot_list %}
                                <li class="site-tree-noicon">
                                    <a href="/content?ai={{ hot["id"] }}">{{ hot["title"] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="aside-div">
                    <fieldset class="layui-elem-field">
                        <legend>文章分类</legend>
                        <div class="layui-field-box">
                            <ul class="layui-tree">
                            {%for tag in blogtag%}
                                <li class="site-tree-noicon">
                                    <a href="/category?id={{ tag["id"] }}">{{ tag["name"] }}</a>
                                </li>
                            {%endfor%}
                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="aside-div">
                    <div class="layui-inline" id="blog_calender"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    layui.use(['form', 'element', 'carousel', 'laydate', 'laypage', 'jquery'], function(){
        var element = layui.element;
        var carousel = layui.carousel;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var $ = layui.jquery;

        $("#art-content-div").find("img").each(function(){
            $(this).attr("src", "");
        });

        carousel.render({
            elem:"#carousel",
            width: "100%",
            autoplay: true,
            arrow:"hover",
            anim:"default"
        });

        laydate.render({
            elem: '#blog_calender',
            position: 'static',
            lang: 'en',
            showBottom: false,
            theme: "molv",
            mark:{

            }
        });

        laypage.render({
            elem: "pages",
            count: {{ blogsize }},
            limit: 10,
            curr: {{ target_page }},
            jump: function (obj, first) {
                if(!first){
                    location.href = "/index?target_page="+obj.curr
                }
            }
        })
    })
</script>
</html>