<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
</head>
<body>
    <div class="header">
        <h1>登录页</h1>
    </div>
    <div class="container">
        <div class="item">
            <form action="" method="post">
                <input type="text" placeholder="请输入用户名" name="username" /><br/>
                <input type="password" placeholder="请输入密码" name="pwd" /><br/>
                <input type="submit" value="登录"/>
            </form>
        </div>
        <div>
            <a href="/register">还没有帐号？点击注册</a>
        </div>
    </div>
</body>
</html>