<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
</head>
<body>
    <div class="layui-header">
        <div class="layui-main">
            <a class="logo" href="login.html">
                <h1>My Blog</h1>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="item">
            <form action="" method="post">
                <input type="text" placeholder="请输入用户名" name="username" /><br/>
                <input type="password" placeholder="请输入密码" name="pwd" /><br/>
                <input type="submit" value="登录"/>
            </form>
        </div>
        <div>
            <a href="/register">还没有帐号？点击注册</a>
        </div>
    </div>
</body>
<script type="text/javascript">
    layui.use(['form'], function () {

    })
</script>
</html>