<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>展示列表统计</title>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/display.css"/>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-main">
            <a class="logo" href="#">
                <span>资源管理后台</span>
            </a>
            <div class="layui-form component">
                <ul class="layui-nav">
                    <li class="layui-nav-item ">

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="javascript:;" href="javascript:;">浏览跟踪信息<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/resource_display">跟踪信息统计</a>
                        </dd>
                        <dd class="layui-this">
                            <a href="/resource_display_table">跟踪信息列表展示</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="javascript:;" href="javascript:;">博客服务器信息<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/resource_display_local">信息内容</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-window">
        <blockquote class="layui-elem-quote">浏览跟踪数据详细记录</blockquote>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;margin-left: 30px;">
            <legend>博客访问用户记录</legend>
        </fieldset>
        <div class="table-div">
            <table class="layui-table" lay-data="{url:'/test_data', page:true, id:'user-info'}" lay-filter="getDetail">
                <thead>
                    <tr>
                        <th lay-data="{field:'id'}">ID</th>
                        <th lay-data="{field:'username'}">IP地址</th>
                        <th lay-data="{field:'sex'}">省份</th>
                        <th lay-data="{field:'city'}">城市</th>
                        <th lay-data="{field:'city'}">时间</th>
                        <th lay-data="{field:'opt', event:'get_detail', style:'cursor:pointer;color:blue;',templet:'<div>查看文章访问记录</div>'}">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;margin-left: 30px;">
            <legend>用户访问文章的记录</legend>
        </fieldset>
        <div class="table-div">
            <table class="layui-hide" id="user-read-info"></table>
        </div>
    </div>
    <div class="layui-footer footer footer-demo">
        <div class="layui-main">
            <p>Develop by Pyx.With Python,Flask,Layui and Echarts</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var uid;
    layui.use(['form', 'element', 'jquery', 'table'], function(){
        var element = layui.element;
        var table = layui.table;
        var $ = layui.jquery;

        table.on("tool(getDetail)", function (obj) {
            var data = obj.data;
            if(obj.event === "get_detail"){
                uid = data.id;
                table.render({
                    elem: '#user-read-info',
                    url:'/test_data?uid='+uid,
                    cellMinWidth: 80,
                    cols: [[{field:'id', title: 'ID'},
                            {field:'aid', title: '文章', sort:true},
                            {field:'time', title: '时间', sort: true}]],
                    page: true
                });
            }
        });
    })
</script>
</html>