<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>展示统计</title>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/display.css"/>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/echarts.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-main">
            <a class="logo" href="#">
                <span>资源管理后台</span>
            </a>
            <div class="layui-form component">
                <ul class="layui-nav">
                    <li class="layui-nav-item ">
                        <a href="#">文档</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="javascript:;" href="javascript:;">浏览跟踪信息<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/resource_display">跟踪信息统计</a>
                        </dd>
                        <dd>
                            <a href="/resource_display_table">跟踪信息列表展示</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="javascript:;" href="javascript:;">博客服务器信息<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this">
                            <a href="/resource_display_local">信息内容</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-window">
        <blockquote class="layui-elem-quote">服务器信息</blockquote>
        <div>
            <div class="board" style="background-color: #57889c">
                <div class="local-title">系统</div>
                <div class="local-info"><img src="/static/images/logo/centOS.png"/></div>
            </div>
            <div class="board" style="background-color: #40affe">
                <div class="local-title">内存</div>
                <div class="local-info local-canvas" id="ram"></div>
            </div>
            <div class="board" style="background-color: #26c281">
                <div class="local-title">硬盘</div>
                <div class="local-info local-canvas" id="hdd"></div>
            </div>
        </div>
    </div>
    <div class="layui-footer footer footer-demo">
        <div class="layui-main">
            <p>© 2018 <a href="/">layui.com</a> MIT license</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'element', 'jquery'], function(){
        var element = layui.element;
        var $ = layui.jquery;

        var myChart = echarts.init(document.getElementById('ram'));
        var option = {
            tooltip : {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            series : [
                {
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '50%'],
                    selectedMode: 'single',
                    label: {
                        normal: {
                            show: false,
                            position: 'inner'
                        }
                    },
                    color:["#FF3030","#DEDEDE"],
                    data:[
                        {value:1548, name: '已使用'},
                        {value:535, name: '未使用'}
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);

        myChart = echarts.init(document.getElementById('hdd'));
        option = {
            tooltip : {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            series : [
                {
                    type: 'pie',
                    radius : '65%',
                    center: ['50%', '50%'],
                    selectedMode: 'single',
                    label: {
                        normal: {
                            show: false,
                            position: 'inner'
                        }
                    },
                    color:["#FF3030","#DEDEDE"],
                    data:[
                        {value:6, name: '已使用'},
                        {value:4, name: '未使用'}
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    })
</script>
</html>