<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" >
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta charset="utf-8"/>
    <title>彭沂雄练习博客</title>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/writer.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/wangEditor/wangEditor.js"></script>
</head>
<body class="layui-bg-gray">
    <div class="layui-header">
        <div class="layui-main">
            <a class="blog-name" href="/">
                <span>My Blog</span>
            </a>
            <ul class="layui-nav nav-ul" style="text-align: right;">
            {%for nav in nav_list%}
                <li class="layui-nav-item">
                    <a href="">{{nav}}</a>
                </li>
            {%endfor%}
            </ul>
        </div>
    </div>
    <div class="main-div">
        <div class="layui-main">
            <div class="main-left-div">
                <div class="article-div">
                    <div class="article-paper-div">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>博客文章编辑</legend>
                        </fieldset>
                        <form class="layui-form" action="/writer" method="post">
                            <input type="hidden" name="add_article" value="1"/>
                            <div class="layui-form-item">
                                <label class="layui-form-label">博客标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" required lay-verify="required" autocomplete="off" placeholder="请输入博客的标题" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">博客描述</label>
                                <div class="layui-input-block">
                                    <input type="text" name="description" autocomplete="off" placeholder="请输入博客的简述" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">标签选择</label>
                                <div class="layui-input-block">
                                    {% for i in tag_list %}
                                        <input type="checkbox" value="{{ i["id"] }}" name="tag_ckb" title="{{ i["name"] }}"/>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">标签新增</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="newtag" placeholder="输入新标签并以逗号分隔" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">封面上传</label>
                                <div class="layui-input-block">
                                    <div class="layui-upload-drag" id="article-img">
                                        <i class="layui-icon">&#xe681;</i>
                                        <p>点击上传，或将文件拖拽到此处</p>
                                    </div>
                                    <input type="hidden" id="upload" name="upload" />
                                </div>
                            </div>
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                <legend>写点干货吧</legend>
                            </fieldset>
                            <div class="layui-form-item">
                                <div class="article-content">
                                    <div id="editor"></div>
                                </div>
                                <textarea id="content" style="display: none;" name="content"></textarea>
                                <div class="layui-input-inline">
                                    <button class="layui-btn" lay-submit="" lay-filter="submit_art">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main-right-div">
                <div class="aside-div">
                    <blockquote class="layui-elem-quote">
                    <div class="user-div">
                        <div class="layui-inline">
                            <ul class="layui-nav user-ul">
                                <li class="layui-nav-item">
                                    <a href="">
                                        <img src="{{userimg}}" width="48px" class="layui-circle"/>
                                        {%if islogin == '1' %}
                                            <span class="user-span">{{ loginusername }}</span>
                                        <dl class="layui-nav-child">
                                            <dd><a href="/logout">退出</a></dd>
                                        </dl>
                                        {%else%}
                                            <span class="user-span">欢迎</span>
                                        <dl class="layui-nav-child">
                                             <dd><a href="/login">登录</a></dd>
                                        </dl>
                                        {%endif%}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </blockquote>
                </div>

                <div class="aside-div">
                    <fieldset class="layui-elem-field">
                        <legend>热门文章</legend>
                        <div class="layui-field-box">
                            <ul class="layui-tree">
                                {% for hot in hot_list %}
                                <li class="site-tree-noicon">
                                    <a href="/content?ai={{ hot["id"] }}">{{ hot["title"] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="aside-div">
                    <fieldset class="layui-elem-field">
                        <legend>文章分类</legend>
                        <div class="layui-field-box">
                            <ul class="layui-tree">
                            {%for tag in tag_list%}
                                <li class="site-tree-noicon">
                                    <a href="/category?id={{ tag["id"] }}">{{ tag["name"] }}</a>
                                </li>
                            {%endfor%}
                            </ul>
                        </div>
                    </fieldset>
                </div>

                <div class="aside-div">
                    <div class="layui-inline" id="blog_calender"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgServer = '/uploadImg';  // 上传图片到服务器
    editor.customConfig.uploadFileName = 'imgFile';
    editor.customConfig.uploadImgTimeout = 30000;
    editor.customConfig.onblur = function (html) {
        document.getElementById("content").innerHTML = html;
    };
    editor.create();
    layui.use(['form', 'element', 'laydate', 'upload', 'jquery'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        var upload = layui.upload;
        var $ = layui.jquery;

        laydate.render({
            elem: '#blog_calender',
            position: 'static',
            lang: 'en',
            showBottom: false,
            theme: "molv"
        });

        form.on('submit(submit_art)', function(){
            return true;
        });

        upload.render({
            elem: '#article-img',
            url: '/upload',
            done: function(res){
                if(res["code"] == "0"){
                    layer.msg("上传成功！");
                    $("#upload").val(res["data"]);
                }
            }
        });
    })
</script>
</html>